$white : #fff;
$dark : #333;

body{
  background: $dark;
  // color: $white;
  section{
    &#intro{
      background: $white;
      color: $dark;
    }
    .card{
      margin: 1vh 0vw;
      .card-title{
        text-transform: capitalize;
      }
      &.list-stats{
        p{margin-bottom: 0;}
      }
      .list-actions{
        padding: 1vh 4vw 0vh;
      }
      .stats-group{
        text-transform: capitalize;
      }
    }
  }
}
