$white : #fff;
$dark : #333;

body{
  background: $dark;
  // color: $white;
  section{
    &#intro{
      background: $white;
      color: $dark;
    }
    .card{
      margin: 2vh 2vw;
      .card-title{
        text-transform: capitalize;
      }
      .stats-group{
        text-transform: capitalize;
      }
    }
  }
}
