body {
  background: #333; }
  body section#intro {
    background: #fff;
    color: #333; }
  body section .card {
    margin: 2vh 2vw; }
    body section .card .card-title {
      text-transform: capitalize; }
    body section .card .stats-group {
      text-transform: capitalize; }
