.card {
  padding: 0; }
  .card .fa {
    padding: 2vh 2vw; }
  .card .card-header {
    padding: 2vh 2vw; }
  .card .card-body {
    padding: 0; }
    .card .card-body .shop-item {
      padding: 1vh 5vw; }
      .card .card-body .shop-item .badge {
        margin: 0vh 2vw; }
